*{
  box-sizing: border-box;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bottom-4 {
  bottom: 4px;
}
.right-0 {
  right: 0;
}
.top-5 {
  top: 5px;
}
.top-25 {
  top: 25px;
}

.font-size-8 {
  font-size: 8px;
}
.font-size-14 {
  font-size: 14px;
}
.font-size-32 {
  font-size: 32px;
}
.text-left{
  text-align: start;
}

.hover-pointer:hover{
  cursor: pointer;
}
.hover-background:hover{
  background-color: cornflowerblue;
}

.side-navbar {
  position: absolute;
  top: 34px;
  transition: ease-in-out;
  overflow: hidden;
}
.ul-hide-style {
  list-style: none;
  padding: 0;
}
.ul-hide-style a {
  color: inherit;
  text-decoration: none;
}

.solid-bottom-border {
  border-bottom: 2px solid black;
}

.border-around-mid {
  border: 1px solid black;
  border-radius: 5px;
}


.action-option {
  transition: ease-in-out;
  z-index: 2;
}
.action-background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.client-model-parent{
  top:0;
  left:0;
  height:100vh;
  width: 100vw;
  z-index: 2;
}
.client-model-back{
  top:0;
  left:0;
  height:100vh;
  width: 100vw;
  z-index: 2;
}
.client-model{
  width: 80vw;
  max-width: 600px;
  max-height: 100vh;
  /* overflow-y: scroll; */
  z-index: 3;
  border-radius: 5px;
}
.modal-head{

}